<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/_layout::head('Devmaster::Liên hệ')">
    <title>Devmaster</title>
</head>
<body>
<header th:replace="fragments/_layout::header"></header>
<section class="container" style="min-height: 268px">
    <div class="row">
        <h1>Đây là trang giới thiệu</h1>
        <hr/>
        <h3>Viện công nghệ và đào tạo Devmaster</h3>
        <p>Đơn vị tiên phong trong đào tạo kỹ năng CNTT</p>
    </div>
</section>
<footer th:replace="fragments/_layout::footer"></footer>
</body>
</html>