<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/_layout::head('Devmaster::Liên hệ')">
    <title>About</title>
</head>
<body>
    <!-- Sử dụng Header Fragment-->
    <header th:replace="fragments/_layout::_header"></header>
<!--Main Body-->
    <section class="container" style="min-height: 268px">
        <div class="row">
            <h1>Day là trang giới thieu</h1>
            <hr/>
            <h3>Viện cong nghe va dao tao devmaster</h3>
            <p>Don vi tien phong trong dao tao ky nang CNTT</p>
        </div>
    </section>
    <footer th:replace="fragments/_layout::_footer"></footer>
</body>
</html>