<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/_layout::head('Devmaster::Liên hệ')">
        <title></title>
    </head>
    <body>
    <!-- Sử dụng Header Fragment-->
    <header th:replace="fragments/_layout::_header"></header>
    <!--Main Body-->
    <section class="container" style="min-height: 268px">
        <div class="row">
            <h1>Day là trang lien he</h1>
            <hr/>
           <p>Tang 6 toa <b>VIEN CONG NGHE</b></p>
            <p>So 25, Vu Ngoc Phan, Lang Ha, Dong Da, Ha Noi</p>
        </div>
    </section>
    <footer th:replace="fragments/_layout::_footer"></footer>
    </body>
</html>